*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient( to right, #009999 ,#a73ddb);
    padding: 10 !important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 1000;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 100px !important;
}
.navbar-toggler{
    outline: none !important;
}
/*------------------------ Banner Section ---------------------*/

#banner{
    background-image: linear-gradient( to right, #359771  ,#d8a9ef,    #359771);
    padding: 0 !important;

}

.promo-title{
    font-size: 10px;
    font-weight: 10px;
    margin-top: 100px;
    color: rgb(20,82,20);
}
#banner a{
    color: fff;
    text-decoration: none;
}
.akash{
    color: rgb(117, 11, 32);
    font-size: 20px;
}
.aa{
    font-size: 25px;
    color: rgb(89 ,27 ,152)

}

.ak{
    color: rgb(0 , 41 , 77);
     font-size: 20px;
}
.promo-title{
    font-size: 70px;
}

/*-------------------about-----------------------*/
#about{
    padding: 80px 0;
    background-image: linear-gradient( to right, #359771 ,#d8a9ef);
}

.akk{
    text-align: left;
    color: rgb(17, 8, 4);
    font-size: 20px;
    background-image: linear-gradient( to right, #287256 ,#5f1782);

}

.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 100px;
    margin: auto;
    margin-right:auto ;
    display: block;
   }

/*-----------------------education--------------------*/
.res-tab{
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    font-style: italic;
    text-align: center;
 background-image: linear-gradient( to right, #359771 ,#d8a9ef);

  }



  th,td{
    border: 2px solid #ddd;
    padding: 15px;
  }
/*------------------------------SOCIAL MEDIA-------------------*/
#social-media{
    background: #f8f9fa;
    padding: 100px 0;
    background-image: linear-gradient( to right, #359771 ,#d8a9ef);
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icon img{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 7px;
    border-radius: 2px;
    background-image: linear-gradient( to right,#359771 ,#d8a9ef);

}
.form-box .form-controle{

    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;

}
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;

    background-image: linear-gradient( to right, #359771 ,#d8a9ef);


}
hr{
    background-color: #fff;
}
.copyright{
    margin: 0;
    padding-bottom: 20PX;
    text-align: center;
   background-image: linear-gradient( to right, #359771 ,#d8a9ef);
} 